{% extends "base.html" %} {% block content %}


<br><br>

[<br>
&ensp;&ensp;{<br>
&ensp;&ensp;&ensp;&ensp;"inveniraStdID": "0031",<br>
&ensp;&ensp;&ensp;&ensp;"quantAnalytics": [<br>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{"name": "total_evento_atend_otimo", "type": "integer", "value": 3},<br>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{"name": "total_evento_atend_ruin", "type": "integer", "value": 1}<br>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{"name": "total_evento_conforto_boa", "type": "integer", "value": 4},<br>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{"name": "total_evento_conforto_ruin", "type": "integer", "value": 0}<br>
&ensp;&ensp;&ensp;&ensp;],<br>
&ensp;&ensp;&ensp;&ensp;"qualAnalytics": [<br>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{"name": "Student activity profile", "type": "text/plain", "value": "https://ActivityProvider/?APAnID=11110031"},<br>
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{"name": "Actitivy Heat Map": "text/plain", "value": "https://ActivityProvider/?APAnID=21111031"},<br>
&ensp;&ensp;},<br>
 
]

{% endblock %}

